* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

table {
    border-collapse: collapse
}

.navbar-nav.buttons {
    padding-left: 30px;
}

.navbar-nav.buttons button {
    margin: 0 20px 0 20px;
}